.disableFlow {
  // z-index: 100;
  overflow: hidden;
  margin-right: 17px !important;
}
.cat-loading-wrapper {
  background-color: white;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  // opacity: 0.8;
  transition: opacity 0.5s ease-in-out;
  z-index: 999;
  overflow: hidden;
}
.catloading {
  background-color: rgba(197, 197, 197, 0.519);
  width: 80%;
  height: 0%;
  top: 10%;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // overflow: hidden;
  .cat-face {
    width: 200px;
    height: 185px;
    position: relative;

    #face {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
    #beard {
      width: 318px;
      // height: 100%;
      position: absolute;
      top: 65%;
      left: 52%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }
  .cat-text {
    margin-top: 5px;
    display: flex;
    gap: 8px;
    & * {
      width: 40px;
      opacity: 0;
      position: relative;
      top: -80px;
    }
    #text1 {
      // top: 5px;
    }
    #text2 {
    }
    #text3 {
    }
    #text4 {
    }
    #text5 {
    }
  }
}

.cat-loading-opacity {
}
.sawtooth {
  position: absolute;
  display: flex;
  width: 4000px;
  height: 5000px;
  top: -2500px;
  // right: -50%;
  transform: rotate(120deg);
  border-radius: 5% 30%;
  background-color: $hover;
  opacity: 0;
  .sawtooth-block {
    width: calc(100vw / 16);
    border-radius: 0 0 2px 30px;
    height: 80vh;
    opacity: 0;
    background-color: $hover;
    // background-color: transparent;
    // background-color: rgb(234, 213, 186);

    z-index: 10;
  }
  .block-1 {
    height: 78vh;
  }
  .block-2 {
    height: 81vh;
  }

  // color: rgb(234, 213, 186);
}

#circle {
  text-align: center;
  transform-origin: center 30%;
  animation: 5s circle infinite;
  opacity: 0;
}

@keyframes circle {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

#textL {
  opacity: 0;
  animation: ld-in 3s 0s ease infinite;
}
#textO {
  opacity: 0;
  animation: ld-in 3s 0.1s ease infinite;
}
#textA {
  opacity: 0;
  animation: ld-in 3s 0.2s ease infinite;
}
#textD {
  opacity: 0;
  animation: ld-in 3s 0.3s ease infinite;
}
#textI {
  opacity: 0;
  animation: ld-in 3s 0.4s ease infinite;
}
#textN {
  opacity: 0;
  animation: ld-in 3s 0.5s ease infinite;
}
#textG {
  opacity: 0;
  animation: ld-in 3s 0.6s ease infinite;
}
#c1 {
  opacity: 0;
  animation: ld-in 3s 0.7s ease infinite;
}
#c2 {
  opacity: 0;
  animation: ld-in 3s 0.8s ease infinite;
}
#c3 {
  opacity: 0;
  animation: ld-in 3s 0.9s ease infinite;
}

@keyframes ld-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  30% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
