@import "@/styles/variable";
.order{
    border-radius: 10px 10px 10px 10px;
    background: $main-bg;
    color:$text-main;    
    @media screen and (max-width: 768px) {
        background: $main-bg;
    }

    .nav-link{
        color:$text-main;

    }
    .price{
        font-weight: 600;
        color: $price;
    }
    img{
        width: 100px;
        height: 100px;
        
    }


    .listbutton{
        width: 25%;
        // width: 200px;
        height: 50px;
        border: 0px;
        border-bottom: 1px solid $light-gray;
        border-radius: 10px 10px 0px 0px;
        // background: #f9f4dc;
        // background: #e5e8dc;
        // background: #edf3ec;
        // background: rgb(248, 239, 233);
        background: #fff;
        border-top:1px solid $light-gray ;
        border-right: 1px solid $light-gray;
    }

    .first{
        border-left:1px solid $light-gray ;
    }

    button.pressed{
        // background: #E3AC85;
        background: #D8E3E5;
        border-bottom:#D8E3E5 1px solid;

        
    }
    .bg{
        background:#fff;        
    }
    span{
        color:$text-main;
      }
      .title{
        font-weight: 600;
      }
    .big{
        font-weight: 600;
    }
    .my{
        color: $hover;
    }  
    .noorder{
        height:870px;
    }
}