.css-6hp17o-MuiList-root-MuiMenu-list{
    background: $header-bg;
 }
 .css-1l132qa{
    justify-content: center;
 } 
 //desktop-menu-list
 .css-1su4uvr-MuiTypography-root{
 font-weight: 700;
 color: $text-main;
 }
 // mobile-370px burger-menu
 .css-1qqqlaa-MuiButtonBase-root-MuiMenuItem-root{
    justify-content: center;
 }
 // mobile-370px McatLogo
 .css-24qsvz-MuiButtonBase-root-MuiButton-root{
 margin: auto;
 }

 .cartNum{
   position: relative;
 }
 .cartNumber{
   position: absolute;
   color: $cos-white;
   top: -10px;
   right: -10px;
   background-color: $price;
   width: 23px;
   height: 23px;
   border-radius: 50%;
   border: 0.1px solid $cos-white;
 }
 .css-av538e-MuiButtonBase-root-MuiIconButton-root{
   margin-right: 0;
 }