.reset-password{
     min-height: 700px;
    //width: 60%;
    //margin: 0 auto 0; //到時候要去掉
    //background-color: $content-bg;
    $form-height: 80px;
    padding:  0 auto;
    position: relative;

    .title {
     //height: 80px;
    //  margin: 50px 150px; //手機要調整
    .my{
      color: #d7965b;
    }
      & > p {
        font-weight: bold;
        display: flex;
        align-items: center;
        img {
          margin-right: 0.8rem;
          height: 28px;
        }
      }
    }
   
}
.reset-form{
  background-color: #fff;
    border-radius: 10px 10px 0 0;
    padding-top: 100px;
    min-height: 900px;
    
}

.reset-group{
  background-color: #fff;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    > label{
        color: $text-main;
        width: 30%;
        float: left;
        padding-right: 10px;
    }
    > input{
        width: 100%;
    }
}
.reset-form-width{
  width: 70%;
}