.user-coupon{
    //width: 60%;
    //margin: 0 auto 0 ; //到時候要去掉
    //background-color: #fff;
    //padding: 10px 30px;
    .title{
        margin-bottom: 40px;
        font-weight: 600;
        .my{
            color: #d7965b;
          }
        
    }
}
.coupon-form{
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    padding-top: 50px;
    min-height: 913px;
}
.coupon-wrapper{
    width: 90%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.userTable{
    // border: 1px solid #ccc;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
   
    & tr{
        background-color: $content-bg;
        border-bottom: 1px solid $text-mark;
        margin-bottom: 1rem;
        & th {
            padding: 10px 0;
            text-align: center;
            background: $cos-white;
        }
    }
    & td {
        padding: 15px 0;
        text-align: center;
       
    }
    & td:last-child{
        text-align: left;
 
    }
}
.coupon-filter{
    padding: 0px 50px;
    .active{
        background: #f8f8f8;
    }
}
.couponSearch{
width: 85%;
margin-bottom: 30px;  
}
.coupon-listBtn{
    width: 25%;
    height: 40px;
    border: 0px; //去掉button樣式
    border-radius: 10px 10px 0px 0px;
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    background: #fff;
    }
    

@media (max-width: 768px){
    .coupon-listBtn{
    width: 35%;
    }
    .user-coupon{
        background-color: $main-bg;
    }
   .userTable{
    thead{
        //表格縮小
        //透過將高度寬度設為1px，將位置設absolute，移除border，使其在視覺上不可見(保留 <thead> 元素以支援螢幕閱讀器等輔助工具)
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
    }
    tr {
        display: block;
        // border-bottom: 3px solid #ddd;
 
    }
    td {
        padding: 15px 10%;
        display: block;
        border-bottom: 1px solid $text-mark;
    }
    td:last-child{
        text-align: center;
    }
    td::before {
        content: attr(data-label);
        float: left;
    }
   }
}
